body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

div {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  text-align: center;
  border-radius: 8px;
}

h2 {
  color: green;
  font-size: 18px;
}

p {
  margin: 15px 0;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}
button {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #22c55e;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transform: scale(1.05);
}
.divider {
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #4f5d74;
}

.divider i {
  color: #cee3e9;
}